* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgrey;
    height: 60px;
}

nav a {
    color: black;
    font-size: .75em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hero_main {
    display: grid;
    height: 45vh;
    grid-template-columns: 1fr 1fr;
}

.main1 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.3em;
    color: gray;
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main2_sub2 {
    padding-top: 2%;
}


.red {
    color: red;
}

.hero_gallery {
    display: flex;
}

.hero_gallery img {
    width: 50%;
    aspect-ratio: 1.6/1;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo p {
    padding-top: 5%;
    font-size: .85em;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }
    nav a {
        padding: 0 1em;
    }
    .hero_main {
        grid-template-columns: 1fr;
        height: 20vh;
    }
    .main1 {
        padding: 0 10%;
        justify-content: flex-start;
        align-items: center;
        font-size: .75em;
    }
    .main2 {
        display: none;
    }
    .hero_gallery {
        overflow-x: scroll;
    }
}